{% extends 'base.html' %}

{% block content %}
<div class="delete-playlist-confirmation-container">
    <h2 class="delete-playlist-title-div">Delete Playlist</h2>
    <h4 class="delete-playlist-message">Are you sure you want to delete <span>{{ object.name }}</span>?</h4>
    <form class="delete-song-confirmation-form"action="" method="POST">
        {% csrf_token %}
            <div class="playlist-delete-confirmation-buttons-container">
                <input class="delete-playlist-yes-btn" type="submit" value="YES - Delete">
                <a class="delete-playlist-cancel-link" href="{% url 'playlists_detail' playlist.id %}">Cancel</a>
            </div>
    </form>
</div>
{% endblock %}
