{% extends 'base.html' %}

{% block content %}


{% if object %}
<h1>Edit <span class="teal-text">{{ object.name }}</span></h1>

<section class="my-playlists">
    <div class="pl-main">
        <div class="pl-img-container">
            <img src="" alt="" class="pl-img">

        </div>
        <div class="pl-info">
            <div class="pl-info-content-spacer">
                <h2 class="pl-info-title">{{ playlist.name }}</h2>
            </div>
            <div class="pl-info-edit">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <!-- <div class="pl-info-content-spacer">
            {{ playlist.songs.count }} songs, {{ playlist.duration }} ms
        </div> -->
            <div class="pl-info-author-details-container">
                <div class="profile-img"></div>
                <span class="pl-card-author">
                    {{ playlist.user.username }}
                </span>
                <span class="pl-card-details">
                    {{ playlist.songs.count }} songs, {{ playlist.duration }} ms
                </span>
            </div>
            <div>
                <p class="pl-info-description">
                    {{ playlist.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="song-list">
        <table class="song-list-table">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% if playlist.songs.count %}
                {% for song in playlist.songs.all %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.duration }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <span>No songs added yet</span>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>

{% else %}
<div class="add-playlist-form-container">
    {% if object %}
    <div class="add-playlist-form-title-div">Edit <span class="teal-text">{{ object.name }}</span></div>
    {% else %}
    <div class="add-playlist-form-title-div">Add Playlist</div>
    {% endif %}
    <div class="add-playlist-input-field-container">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit" class="add-playlist-btn">
        </form>
    </div>
</div>
{% endif %}
<!-- 
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form> -->









{% endblock %}