{% extends 'base.html' %}
{% block content %}

<div class="side-nav">
    <span class="side-nav-title">My Playlists
        <a href="{% url 'playlist_create' %}">
            +
        </a>
    </span>
    {% for playlist in playlists %}
    <a href="{% url 'playlists_detail' playlist.id %}">
        {{playlist.name}}
    </a>
    {% endfor %}

</div>

<section class="my-playlists">
    <div class="pl-main">
        <div class="pl-img-container">
            <img src="../../static/images/playlistexample.png" alt="" class="pl-img">
        </div>
        <div class="pl-info">
            <div class="pl-info-content-spacer">
                <h2 class="pl-info-title">{{ playlist.name }}</h2>
            </div>
            <div class="pl-info-edit">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="pl-info-edit-popup">
                <span class="pl-info-edit-popup-tri"></span>
                <div class="pl-info-edit-popup-hitbox"></div>
                <a class="light" href="{% url 'playlists_update' playlist.id %}">Edit Playlist</a>
                <a class="light" href="{% url 'playlists_delete' playlist.id %}">Delete Playlist</a>
            </div>
            <!-- <div class="pl-info-content-spacer">
            {{ playlist.songs.count }} songs, {{ playlist.duration }} ms
        </div> -->
            <div class="pl-info-author-details-container">
                <div class="profile-img"></div>
                <span class="pl-card-author">
                    {{ playlist.user.username }}
                </span>
                <span class="pl-card-details">
                    {{ playlist.songs.count }} songs, {{ playlist.duration }} ms
                </span>
            </div>
            <div>
                <p class="pl-info-description">
                    {{ playlist.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="song-list">
        <table class="song-list-table">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% if playlist.songs.count %}
                {% for song in playlist.songs.all %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.duration }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <span>No songs added yet</span>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>

<!-- {{ playlist.description }}
{{ playlist.is_public }}
{{ playlist.duration }}
{{ playlist.user }} -->

<!-- {% if playlist.songs.count %}
{% for song in playlist.songs.all %}
{{ song.name }}
{% endfor %}
{% else %}
<h5>No songs added yet</h5>
{% endif %}


<a href="{% url 'playlists_update' playlist.id %}">Edit</a>
<a href="{% url 'playlists_delete' playlist.id %}">Delete</a> -->

{% endblock %}