{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<h1 lcass="pl-index-title">My Playlists</h1>

<div class="pl-card-container">

    {% for playlist in playlists %}

    <div class="pl-card">
        <a href="{% url 'playlists_detail' playlist.id %}">
        </a>
        <img src="../../static/images/playlistexample.png" alt="" class="img">
        <h4 class="pl-card-title">{{ playlist.name }}</h4>
        <div class="pl-card-author-details-container">
            <div class="profile-img"></div>
            <span class="pl-card-author">
                {{ playlist.user.username }}

            </span>
            <span class="pl-card-details">
                {{ playlist.songs.count }} songs, {{ playlist.songs|aggregate_duration|duration_format }}
            </span>
        </div>
        <div>
            {% if playlist.description %}
            <p>
                {{ playlist.description }}
            </p>
            {% else %}
            <p>
                This playlist has no description
            </p>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}