{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
    <div class="flex-item-1">
        <div class="about-soundify-title"><h2>About Soundify</h2></div>
        <div class="flex-item-about-p"><p>Soundify is a feature-rich application that provides a seamless and personalized playlist experience. With Soundify, users can create custom playlists and easily name them, allowing for better organization and personalization.</p></div>
    </div>
    <div class="flex-item-2">
        <div class="tech-used-title"><h2>Technologies Used</h2></div>
        <div class="flex-item-2-ol">
            <ol>
                <li>HTML, CSS, JS</li>
                <li>Python</li>
                <li>Django</li>
                <li>AWS S3</li>
                <li>PostgreSQL</li>
            </ol>
        </div>
    </div>
    <div class="flex-item-3">
        <h2 class="meet-the-team">Meet the Team</h2>
        <img class="team-pic" src="../static/images/teampic-2.png" alt="team members"/>
    </div>
</div>

{% endblock %}