{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soundify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ian.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/marley.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="top-nav">

            <div class="logo-container">
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'images/SoundifyLogo.svg' %}">
                </a>
            </div>


            <div class="nav-links-container">
                {% if user.is_authenticated %}
                <a href="{% url 'playlists_index' %}">View All Playlists</a>
                <a href="{% url 'playlist_create' %}">Add New Playlist</a>
                <a class="right" href="{% url 'about' %}">About</a>
                <a class="right" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a class="right" href="{% url 'about' %}">Search</a>
                <a class="right" href="{% url 'signup' %}">Sign Up</a>
                <a class="right" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>

        </nav>
    </header>
    <main>
        <div class="app-body">

            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div>All Rights Reserved, &copy; 2023 Soundify.com &nbsp;</div>
    </footer>
</body>

</html>