/* Fonts */
:root {
    --gap: 50px;
    --header-height: 100px;
    --side-nav-width: 200px;

    /* Colors */
    --purple-main: #9B71F6;
    --purple-shadow: #8550F7;
    --neon-main: #D6F050;
    --neon-highlight: #EAF9A9;
    --gray: #ccc;
    --white: #fff;
    --black: #1E1E1E;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;
    text-decoration: none;
    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}

menu,
ol,
ul {
    padding-left: 0;
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
}

html {
    font-size: 87.5%;
}

/*14px*/

body {
    text-rendering: optimizeLegibility;
    background: white;
    line-height: 1.75;
    color: #000000;
    max-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    line-height: 1;
}

h1 {
    font-size: 4.286rem;
}

h2 {
    font-size: 2.857rem;
}

h3 {
    font-size: 2.143rem;
    letter-spacing: -0.005em;
}

h4 {
    font-size: 1.571rem;
}

h5 {
    font-size: 1.429rem;

}

p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 1rem;
}

body,
ul,
ol,
dl {
    margin: 0;
}

.right {
    float: right;
    margin-left: 2rem;
    clear: right;
}



.left {
    float: left;
    margin-right: 2rem;
    clear: left;
}

sub,
sup {
    line-height: 0;
}

th {
    font-weight: 300;
    letter-spacing: 0.03em;
    font-weight: 500;
}

/* -------------------- End boilerplate -------------------- */

nav {
    width: fit-content;
    height: fit-content;
}

nav::before {
    content: "";

    background-color: #c2c2c2;
    width: calc(100vw - var(--gap) * 2);
    height: 1px;

    bottom: 0;
    left: var(--gap);
    right: var(--gap);

    opacity: 1;
    pointer-events: none;
    position: absolute;
}

.logo-container {
    width: 215px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.logo-container a {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 20px;
}

.nav-links-container {
    float: right;
    align-items: center;
    height: 100%;
    display: flex;
    gap: 25px;
    justify-self: flex-end;
    position: inline-block;
    right: 0;
}

.nav a {
    text-align: center;
    float: right;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100vw;
    padding: 35px var(--gap);
    background: white;
    z-index: 10;
}

footer {
    width: 100vw;
    padding: 35px var(--gap);
    background: white;
}

.side-nav {
    /* position: absolute; */
    /* top: var(--header-height); */
    width: var(--side-nav-width);
    /* padding-left: var(--gap); */
    padding-right: 1.5rem;
    padding-top: 25px;

    border-right: 1px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: var(--gap);
}

.app-body {
    margin-top: var(--header-height);
    /* margin-left: var(--side-nav-width); */
    padding: 50px;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pl-index-title {
    width: 90vw;
}

.pl-card {
    --h: 375px;
    --w: calc(var(--h) * 0.8);
    /* 320 */
    height: var(--h);
    width: var(--w);
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 35px;
    overflow-y: hidden;
    border: 1px solid #B4B4B4;
    position: relative;
}

.pl-card a {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.pl-card:hover {
    background: linear-gradient(180deg, rgba(252, 252, 252, 0.5) 0%, rgba(232, 232, 232, 0.4) 78.12%);
}

.pl-card-title {
    display: block;
    max-width: calc();
    margin: 1.25rem 0;
    margin-bottom: 1.5rem;
}

h1 {
    margin-top: 0;
    margin-left: 0;
}

.img {
    background: black;
    height: 160px;
    width: 160px;
    /* border-radius: 14px; */
}

.profile-img {
    background-color: black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

/* 
.pl-card div {
    width: 100%;
    overflow: scroll;
    display: block;
} */

.pl-card-author,
.pl-card-details {
    color: #797979;

}

.pl-card-author {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

    /* leading-trim: both; */
    /* text-edge: cap; */
}

.pl-card-author-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 10px;
    width: 100%;
}

.pl-card-details {
    font-size: 12px;
}

.pl-card-description-container {
    overflow: hidden;
    width: 100%;
}

.pl-card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}