{% extends 'base.html' %}
{% block content %}

<div class="side-nav">
    <span class="side-nav-title">My Songs</span>
    {% for song in playlist %}
    <a href="{% url 'songs_detail' song.id %}">
        {{song.name}}
    </a>
    {% endfor %}
</div>

<h1 class="song-details-title">Song Details</h1>

<div class="app-body">
<p>Title: {{ song.name }}</p>
<p>Artist: {{ song.artist }}</p>
<p>Genre: {{ song.genre }}</p>
<p>Rlease Date: {{ song.release_date }}</p>
<p>Album: {{ song.album }}</p>
<p>Length: {{ song.duration }}</p>

<!-- <a href="{% url 'song_update' song.id %}">Edit</a> -->
<a href="{% url 'song_delete' song.id %}">Delete</a>
</div>
{% endblock %}