{% extends 'base.html' %}
{% block content %}
<div class="app-body">
<h1>Song Details</h1>

<p>Title: {{ song.name }}</p>
<p>Artist: {{ song.artist }}</p>
<p>Genre: {{ song.genre }}</p>
<p>Rlease Date: {{ song.release_date }}</p>
<p>Album: {{ song.album }}</p>
<p>Length: {{ song.duration }}</p>

<a href="{% url 'song_update' song.id %}">Edit</a>
<a href="{% url 'song_delete' song.id %}">Delete</a>
</div>

<div>
    <form method="GET" action="{% url 'assoc_song' %}">
        <select name="playlist">
            {% for playlist in playlists %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="song_id" value="{{ song.id }}">
        <button type="submit">Add to Playlist</button>
    </form>    
</div>
{% endblock %}