{% extends 'base.html' %}
{% block content %}
<div class="song-search-container">
    <div class="song-search-title">
        <h1>Song Search</h1>
    </div>
    <div class="song-search-form">
    <form method="GET" action="{% url 'song_search' %}">
        <input type="text" name="query" placeholder="Enter a search query" required>
        <select name="search_type">
            <option value="track">Song</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
        </select>
        <div class="song-search-button"><button type="submit">Search</button></div>
    </form>
    </div>
</div>

{% endblock %}